/* Paleta de colores */
:root {
    --primary-color: #4d62d8;
    --secondary-color: #f9f9f9;
    --text-color: #d8d2d2c0;
    --white: #ffffff;
}

/* Estilos Generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: var(--secondary-color);
}


#titulo{
    color: blue;
    font-size: 2em;
    margin: 0;
}

.bienvenida{
    text-align: center;
    margin: 20px 0;
    
}

main {
    padding: 20px;
    text-align: center;
}

footer {
    padding: 10px 0;
    position: relative;
    width: 100%;
    bottom: 100%;
    text-align: center;
    margin-top: 20px;
    font-family: "Playwrite US Trad", cursive;
}

.nav-link {
    transition: all 0.3s ease-in-out;
}

.nav-link:hover {
    color: #ffffff; 
    background-color: #1abfe9; 
}

.message {
    background-color: #ffa33b;
    border: 1px solid #fdce35;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    max-width: 800px;
    margin-top: 20px;
}

.message h1 {
    margin: 0 0 10px;
    font-size: 54px;
}

.message p {
    margin: 0;
    font-size: 28px;
}

.carousel-item img {
    width: 750px; /* Ajusta el ancho de la imagen al 50% */
    height: 750px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.galeria {
    display: block;
    text-align: center;
}

.galeria img {
    width: 90%;
    padding: 10px;
    margin: 10px auto;
    display: block;
    border-radius: 8px;
}

.galeria-contenedor {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start; 
    gap: 20px; 
    margin: 20px 0; 
}

.galeria-item {
    flex: 1 1 calc(33% - 40px); 
    max-width: calc(33% - 40px);
    margin: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.description {
    margin: 10px; 
    box-shadow: 0 0 10px rgba(128, 122, 122, 0.384);
    border-radius: 8px;
    overflow: hidden;
}

.custom-section {
    width: 30%; 
    margin: 0 auto; 
}



